// // .card {
// //   width: 454px;
// //   height: 283px;
// //   padding: 0;
// //   margin-top: 35px;
// //   box-shadow: 5px 5px 10px rgba(#656565, 0.5);
// //   overflow: hidden;
// //   &__image {
// //     width: 38%;
// //     height: 283px;
// //     margin: 0;
// //     overflow: hidden;
// //     & img {
// //       height: 100%;
// //       width: 100%;
// //     }
// //   }
// //   &__content {
// //     padding: 12px 9px 20px 20px;
// //     width: 65%;
// //     display: flex;
// //     flex-direction: column;
// //     &__stars {
// //       font-size: 18px;
// //       margin-top: auto;
// //     }

// //     &__name {
// //       font-size: 20px;
// //       display: flex;
// //       justify-content: space-between;

// //       &--title {
// //         width: 96%;
// //       }
// //     }

// //     &__date {
// //       font-size: 12px;
// //       color: #827e7e;
// //     }
// //     &__description {
// //       font-size: 14px;
// //       overflow: hidden;
// //       text-overflow: ellipsis;
// //       display: -webkit-box;
// //       // -webkit-line-clamp: 4;
// //       -webkit-box-orient: vertical;
// //     }
// //   }
// // }

// .card {
//   width: 100%;
//   height: 245px;
//   // width: 454px;
//   // height: 283px;
//   padding: 0;
//   margin-top: 35px;
//   box-shadow: 5px 5px 10px rgba(#656565, 0.5);
//   overflow: hidden;
//   &__image {
//     position: absolute;
//     top: 20px;
//     left: 20px;
//     width: 60px;
//     height: 90px;
//     margin: 0;
//     overflow: hidden;
//     & img {
//       height: 100%;
//       width: 100%;
//     }
//     @media (min-width: 720px) {
//       width: 60%;
//       height: 283px;
//       position: static;
//     }
//   }
//   &__content {
//     padding: 12px 9px 20px 20px;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     &__stars {
//       font-size: 15px;
//       margin-top: auto;
//       text-align: right;
//       @media (min-width: 720px) {
//         font-size: 18px;
//         text-align: left;
//       }
//     }

//     &__name {
//       font-size: 20px;
//       display: flex;
//       justify-content: space-between;
//       margin-left: 65px;
//       word-break: break-word;
//       word-break: none;

//       @media (min-width: 720px) {
//         margin-left: 0;
//         word-break: normal;
//       }
//       &--title {
//         width: 150px;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         @media (min-width: 720px) {
//           white-space: inherit;
//           word-break: break-all;
//           width: 80%;
//           overflow: visible;
//         }
//       }
//     }

//     &__date {
//       font-size: 12px;
//       color: #827e7e;
//       margin-left: 65px;
//       @media (min-width: 720px) {
//         margin-left: 0;
//       }
//     }
//     &__description {
//       margin-top: 10px;
//       font-size: 14px;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       display: -webkit-box;
//       -webkit-box-orient: vertical;
//       @media (min-width: 720px) {
//         margin-top: 0;
//       }
//     }
//     &__tags {
//       margin-left: 65px;
//       @media (min-width: 720px) {
//         margin-left: 0;
//       }
//     }
//   }

//   @media (min-width: 720px) {
//     width: 454px;
//     height: 283px;
//   }
// }

.card {
  width: 100%;
  height: 245px;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(#656565, 0.5);

  &__image {
    position: absolute;

    width: 60px; //
    height: 91px; //
    top: 6px; //
    left: 10px; //
    & img {
      width: 100%;
      height: 100%;
    }
    @media (min-width: 768px) {
      top: 0;
      left: 0;
      width: 183px;
      height: 281px;
    }
  }

  &__content {
    padding: 8px 8px 8px 0; //
    width: 100%;
    height: 245px;

    &__name {
      margin-left: 83px;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 83px);
      font-size: 20px;
      &--title {
        width: calc(100% - 30px);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 0;
      }
      @media (min-width: 768px) {
        margin-left: 0;
        width: 240px;
      }
    }

    &__date {
      margin-left: 83px;
      color: #827e7e;
      @media (min-width: 768px) {
        margin-left: 0;
      }
    }

    &__tags {
      margin-top: 8px;
      margin-left: 83px;
      height: 22px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;

      @media (min-width: 768px) {
        margin-left: 0;
        width: 250px;
      }
    }

    &__description {
      margin: 0;
      margin-top: 8px;
      margin-left: 8px;
      font-size: 14px;
      height: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      @media (min-width: 768px) {
        height: 130px;
        max-width: 230px;
        -webkit-line-clamp: 6;
        margin-left: 0;
      }
    }

    &__stars {
      text-align: right;
      display: block;
      margin-top: 5px;
      font-size: 17px;
      @media (min-width: 768px) {
        text-align: left;
      }
    }
    @media (min-width: 768px) {
      margin-left: 200px;
    }
  }

  @media (min-width: 768px) {
    width: 454px;
    height: 281px;
    margin-top: 34px;
  }
}
